<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div><h1>Registation Form</h1>
  <form>
    <fieldset>
      <legend>Contact Information</legend>
      <p>
      <label for="name">Enter your full Name</label><br>
      <input type="text" id="name" name="name" placeholder="enter your name">
    </p>
    <p>
      <label for="email">Enter your Email</label><br>
      <input type="email" id="email" placeholder="enter your Email" name="email">
    </p>
    <p>
      <label for="password">Enter your password</label><br>
      <input type="password" id="password" placeholder="enter your password" name="email">
    </p>
    <p>
      <label for="password">confirm your password</label><br>
      <input type="password" id="password" placeholder="enter your password" name="email">
    </p>
      <p>
      <label for="message">Message</label><br>
      <textarea id="message" name="message" placeholder="message"></textarea>
    </p>
    <button id="submit" type="submit">Submit</button>
    </fieldset>
    
  </form>
  <br>
  
</div>




  <div>
  <form>
    <fieldset>
      <legend>select</legend>
        <h3>Enter your gender</h3>
       <p> <label for="">Male <input type="radio"></label></p>
       <p> <label for="">Female <input type="radio"></label></p> 
       <p> <label for="">Other's <input type="radio"></label></p> 
      
        
      <p>
      <label for="message">Enter your address</label><br>
      <textarea id="message" name="message" placeholder="message"></textarea>
    </p>
    <button id="submit" type="Signout">Sign-up</button>
    </fieldset>
    
  </form>
  
</div>

</body>
</html>